.App {
  text-align: center;
}

.App-logo {
  height: auto;

  pointer-events: none;
  justify-content: center;
  font-size: 6vh;
  font-family: "Times New Roman";
  font-style: italic;
  font-weight: bold ;
  /*align-items: center;*/
}

/*@media (prefers-reduced-motion: no-preference) {*/
/*  .App-logo {*/
/*    animation: App-logo-spin infinite 5s linear;*/
/*  }*/
/*}*/

.App-header {
  background-color: #2a2a2a;
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  padding-left: 5vh;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/*@keyframes App-logo-spin {*/
/*  from {*/
/*    transform: rotate(-20deg);*/
/*  }*/
/*  to {*/
/*    transform: rotate(20deg);*/
/*  }*/
/*  from {*/
/*    transform: rotate(20deg);*/
/*  }*/
/*  to {*/
/*    transform: rotate(-20deg);*/
/*  }*/
/*}*/

.App-body {
  background-color: #282c34;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-footer {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}