.custom-select {
    width: 150px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    appearance: none;
    font-size: 14px;
    position: relative;
    z-index: 1;
    overflow-y: auto;
}

.custom-select::-webkit-scrollbar {
    width: 8px;
}

.custom-select::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 4px;
}

.custom-select::-webkit-scrollbar-track {
    background-color: #f1f1f1;
    border-radius: 4px;
}
.divimg::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
.divimg::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 4px;
}
.divimg::-webkit-scrollbar-track {
    background-color: #f1f1f1;
    border-radius: 4px;
}
#side {
    height: 92vh;
    top: 8vh;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}